/*
* BANNER
*/
.banner_home {
  background-color: var(--white-c);
  padding: 90px 0 0;
  position: relative;
}
.banner_home_wrapper {
  text-align: center;
}
.banner_home_decoration-left {
  position: absolute;
  left: 0;
  top: 90px;
}
.banner_home_decoration-right {
  position: absolute;
  right: 0;
  top: 45px;
}
.banner_home_image-top {
}
.banner_home_action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -35px 0 0;
}
.banner_home_image-bottom {
}
.banner_home_image-bottom img {
  max-width: 100%;
}
/*
* BRANDS
*/
.brands {
  padding: 2.75rem 0;
  background-color: var(--white-b);
}
/*
* IMPACT
*/
.ourImpact {
  padding: 2.75rem 0;
  background-color: var(--white-c);
}
.impacts {
  max-width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 1.5rem 5rem;
}
.impacts_action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.impact {
  display: grid;
  grid-template: 1fr / 106px 1fr;
  gap: 1rem;
  align-items: center;
}
.impact_four {
  grid-template: 1fr / 106px 60px 1fr;
}
.impact_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.impact_icon img {
  width: 80%;
}
.impact_info {
}
.impact_number {
  margin: 0 0 0.25rem;
}
.impact_title {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  font-style: italic;
  color: var(--primary);
  margin: 0 0 0.25rem;
}
.impact_description {
  font-size: 1rem;
  line-height: 22px;
  font-style: italic;
  color: var(--primary);
}
.impact_description strong {
  font-weight: 600;
}
.impact_cities {
}
.impact_city {
  font-size: 0.75rem;
  font-style: italic;
  list-style: initial;
  color: var(--primary);
}
/*
* DEAL
*/
.problems_deal {
  padding: 2.75rem 0 4rem;
  background-color: var(--white-c);
}
.problems {
  max-width: 870px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 0.75rem;
  justify-content: center;
}
.problem {
  background-color: var(--white);
  border-radius: 48px;
  box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
  padding: 1.5rem;
  text-align: center;
}
.problem_image {
}
.problem_number {
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  color: var(--primary-dark-b);
  margin: 0 0 1rem;
}
.problem_description {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-style: italic;
  color: var(--primary);
}
/*
* VIDEO EXPLANATION
*/
.video_explanation {
  padding: 3.75rem 0 7.5rem;
  background-color: var(--white);
  position: relative;
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.11);
}
.video_explanation_wrapper {
  display: grid;
  grid-template: 1fr / 0.35fr 0.65fr;
  gap: 2rem;
  max-width: 870px;
  margin: 0 auto;
}
.video_explanation_left {
  display: flex;
  align-items: center;
}
.video_explanation_right {
  position: relative;
}
.video_right_image {
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: 4;
}
.video_right_video {
  padding-top: 56.25%;
  border: 12px solid #009fe5;
  border-radius: 45px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
}
.video_right_video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.video_verse {
  position: absolute;
  z-index: 10;
  background-color: var(--primary);
  max-width: 800px;
  border-radius: 140px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
  bottom: -70px;
}
.video_verse_text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-style: italic;
  font-weight: 300;
  color: var(--white);
  margin: 0 0 0.75rem;
}
.video_verse_text strong {
  font-weight: 600;
}
.video_verse_number {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  font-style: italic;
  color: var(--white);
  text-align: center;
}
/*
* TESTIMONIAL
*/
.testimonial {
  padding: 7.5rem 0 3.75rem;
  background-color: var(--white-c);
}
.testimonial_wrapper {
  max-width: 970px;
  margin: 0 auto;
}
.testimonial_item {
  width: 469px;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.11);
  margin: 0 0 1.5rem;
  border-radius: 2rem;
}
.testimonial_text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--primary);
  margin: 0 0 0.5rem;
}
.testimonial_name {
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: var(--primary);
  font-weight: bold;
  font-style: italic;
}
